<h1 style="text-align:center">Log in</h1>
<p style="text-align:center">New user?
    <%= link_to "Sign up now!", '/users/new', method:"get" %></p>

<%= form_for(:session, url: '/sessions/create', method:"post",  html: {id:"new_session", class:"well"} ) do |f| %>
<div class="form-group">
    <%= f.email_field :email, :class=>'form-control', :placeholder => "E-mail" %>
</div>

<div class="form-group">
    <%= f.password_field :password, :class=>'form-control', :placeholder => "Password" %>
</div>

<%= f.submit "Sign in", :class=>'btn btn-primary', :style=>"background-color: #0e80ff; border-color:#0e80ff" %>
<% end %>
