<!-- Creates the form that allows a user to log in to the site -->
<div class="row">
  <div class="col-md-8">
    <h1>Welcome to Ka-bash’d!</h1>
    <h2>Ka-bash'd: A Natural Language Game Framework</h2>
    <p>Ka-bash’d is a natural language, game creation framework with valuable applications in training and learning. Games created in Ka-bash’d allow players to use their own words to control game play. IBM Watson, specifically the Watson Engagement Advisor (WEA), interprets user input as in-game commands. IBM Watson is also available in the traditional question answering context via a gametime companion that provides related data on request. The initial game is a medical game where a player must examine, interact, diagnose, and give treatment options to patients. Ka-bash’d includes an extensible API that allows easy creation of game scenarios that each provide unique skill-building opportunities to players.</p>
  </div>
  <div class="col-md-4">
    <h1>Log in</h1>
    <p>New user? <%= link_to "Sign up now!", '/users/new', method:"get" %></p>

    <%= form_for(:session, url: '/sessions/create', method:"post",  html: {id:"new_session"} ) do |f| %>
        <div class="form-group">
            <%= f.email_field :email, :class=>'form-control', :placeholder => "E-mail" %>
        </div>

        <div class="form-group">
            <%= f.password_field :password, :class=>'form-control', :placeholder => "Password" %>
        </div>

        <%= f.submit "Sign in", :class=>'btn btn-default' %>
    <% end %>

    <!-- If log in information is not valid, this notifies to the user to try again or to sign up for a free account -->
    <table>
      <tr>
        <td> <%= @err %> </td>
      </tr>
    </table>
  </div>
</div>