<%= form_tag({controller: "games", action: "query"}, method: "post", id:"queryForm") do  %>
<div class="input-group">
    <%= text_field_tag(:query, '', class:'form-control', placeholder: 'Enter a command...') %>
    <div class="input-group-btn">
        <%= button_tag("", type:"submit", class: "btn btn-default glyphicon glyphicon-send") %>
        <%= hidden_field_tag(:game_id, current_game.id) %>
        <%= hidden_field_tag(:tag, "Story") %>
    </div>
</div>
<% end %>
