<h1 style="text-align:center">Sign up</h1>
<p style="text-align:center">Existing User? <%= link_to "Log in", '/sessions/new', method:"get" %></p>

    <%= form_for(@user, url: '/users/create', method:"post",  html: {class:"well"}) do |f| %>
        <div class="row" style="padding-bottom:0px">
          <div class="form-group col-xs-6">
            <%= f.text_field :first_name, :class=>'form-control', :placeholder => "First Name" %>
          </div>
          <div class="form-group col-xs-6">
            <%= f.text_field :last_name, :class=>'form-control', :placeholder => "Last Name" %>
          </div>
        </div>

        <div class="form-group">
            <%= f.email_field :email, :class=>'form-control',  :placeholder => "E-mail" %>
        </div>

        <div class="row" styling="padding-bottom:0px">
          <div class="form-group col-xs-6">
            <%= f.password_field :password, :class=>'form-control', :placeholder => "Password" %>
          </div>
          <div class="form-group col-xs-6">
            <%= f.password_field :password_confirmation, :class=>'form-control', :placeholder => "Confirm Password"%>
          </div>
        </div>

        <div class="form-group">
            <%= f.submit "Sign up", :class=>'btn btn-primary', :style=>"background-color: #0e80ff; border-color:#0e80ff" %>
        </div>
    <% end %>
