
<div class="conv_entry" style="font-size: large">
  <p><b>Welcome to Kabash'd. Enter a command to get started: </b></p>
</div>

<% @conversations.each do |conversation| %>
    <div class="conv_entry">
        <p><%= conversation.query %></p>
        <% if conversation.response != nil %>
            <p class="responseSuccess"><%= conversation.response %> (<%= conversation.confidence %>)</p>
        <% else %>
            <p class="responseFail">Sorry, there is no valid response for your query.</p>
        <%end%>
    </div>
<% end %>

<%= form_tag({controller: "games", action: "query"}, method: "post", target:"conv_iframe", id:"queryForm") do  %>

    <div class="input-group">

        <span class="input-group-btn">
          <%= submit_tag("Go!", class: "btn btn-default") %>
          <%= text_field_tag(:query, '', class:'form-control') %>
          <%= hidden_field_tag(:game_id, current_game.id) %>

          </span>
    </div>

<% end %>


