<div class="row">
  <div class="col-md-8 main">
    <h1>Story</h1>
    <%= render 'shared/alert_completed_task' %>
    <%= render 'shared/alert_failed_task' %>
    <%= render 'shared/alert_game_over' %>
    <%= render 'shared/alert_won_game' %>
    
    <div class="container-fluid">
      <%= render 'shared/query_form' %>

      <div id="queryarea">

   	<div class="conv_entry">
        	<p>Level: Sprained Ankle</p>
		<br>

		<p>You've heard that a certain high powered businessman is having an extended stay at Northwest General.</p>
		<br>
		<p>He's the one that's responsible for kicking your dog. It's time to give him a piece of your mind.</p>
		<br>
		<p>Of course, you're gonna get nowhere just going into the hospital and demanding to see him. No, you'll have to be more clever than that.</p>
		<br>
		<p>You enter the first floor of the hospital. You've picked up a white coat from a costume shop, swiped a stethoscope off some resident's desk, and are equipped to the brim with the best bandaids $5 at CVS could buy.</p>
		<br>
		<p>Oh yeah, and WATSON, you have him too.</p>
		<br>
		<p>You're ready.</p>
		<br>
		<p>FIRST FLOOR - NORTHWEST HOSPITAL</p>
		<br>
		<p>Hey you! You're new here, but the ER is overflowing. What is your name? </p>
		<br>

	</div>
        <% @conversations.each do |conversation| %>
            <div class="conv_entry">
                <p><%= conversation.query %></p>
                <% if conversation.response != nil %>
			<% conversation.response.split("\n").each do |response| %>
                  	<p class="responseSuccess"><%= response %></p>
			<br>
			<% end %>

                <% else %>
                    <p class="responseFail">Sorry, there is no valid response for your query.</p>
                <%end%>
            </div>
        <% end %>
      </div>

    </div>
  </div>

  <div class="col-md-4 sidebar">
    <h1>Watson</h1>
<%= form_tag({controller: "games", action: "query"}, method: "post", id:"queryForm") do  %>
  <div class="input-group">
    <%= text_field_tag(:query, '', class:'form-control', placeholder: 'Enter a question...') %>
      <div class="input-group-btn">
        <%= submit_tag("Go!", class: "btn btn-default") %>
        <%= hidden_field_tag(:game_id, current_game.id) %>
        <%= hidden_field_tag(:tag, "Knowledge") %>
      </div>
  </div>
<% end %>
      <div id="infoarea">
            <div class="conv_entry">
                <p><%= @information %></p>
            </div>
      </div>
  </div>
</div>
