<!DOCTYPE html>
<html>
    <head>
        <title>Kabashd</title>
        <%= favicon_link_tag 'kabashdicon.png' %>
        <script src="https://code.jquery.com/jquery-2.2.0.min.js"/>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <!-- Latest compiled and minified CSS -->
    </head>

    <body id="GamesController">
        <header>
            <%= render 'shared/header' %>
        </header>
        <div class="row">
        <div class="col-sm-2 sidebar">
            <hr/>
            <img src="/assets/kabashdfull.png" width="100%"/>
            <hr/>
            <%= render 'shared/header_game' %>
        </div>
        <div class="container">
            <div class="row">
                <div class="panel panel-primary chat-panel center-block">
                    <div class="panel-heading chat-heading">
                        <a href="/games/new">
                            <i class="glyphicon glyphicon-plus new-game-icon"></i>
                            <h3>Story</h3>
                            <div class="btn-group text-center">
                                <a  type="button" class="btn btn-xs btn-default">Level 1</a>
                                <a  type="button" class="btn btn-xs btn-default">Level 2</a>
                                <a  type="button" class="btn btn-xs btn-default">Level 3</a>
                            </div>
                        </a>
                    </div>
                    <div class="panel-body chat-body" id="chat-body">
                        <%= yield %>
                    </div>
                    <div class="panel-footer">
                        <%= render 'shared/query_form' %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 right-sidebar">
            <hr/>
            <img class="img-responsive center-block" src="https://developer.ibm.com/watson/wp-content/uploads/sites/19/2015/01/IBM_Watson_avatar_pos.png" width=30%>
            <hr/>
            <div class="panel panel-info">
                <div class="panel-heading">Ask Watson</div>
                <div class="panel-body">
                    <%= form_tag({controller: "games", action: "query"}, method: "post", id:"queryForm") do  %>
                    <div class="input-group">
                        <%= text_field_tag(:query, '', class:'form-control', placeholder: 'Enter a question...') %>
                        <div class="input-group-btn">
                            <%= submit_tag("Go!", class: "btn btn-default") %>
                            <%= hidden_field_tag(:game_id, current_game.id) %>
                            <%= hidden_field_tag(:tag, "Knowledge") %>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>

            <div id="infoarea">
                <div data-role="header" data-position="fixed"></div>
                <div class="conv_entry">
                    <h3>Watson says:</h3>
                    <p><%= current_game.info %></p>
                </div>
            </div>
        </div>
        </div>
    </body>
